<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>报警管理</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/css/skins/skin-purple.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easyui.min.1.2.2.js"></script>
    <script src="/js/admintle.min.js"></script>
</head>
<body>
<div class="content">
    <section class="content-header">
        <h1>
            报警列表
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>报警</a></li>
            <li class="active">列表</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">List Table</h3>

                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>名称</th>
                                <th>命名空间</th>
                                <th>模板</th>
                                <!--<th>触发器名</th>-->
                                <th>指标</th>
                                <th>阀值</th>
                                <th>操作</th>
                            </tr>
                            <#if alarms??>
                                <#list alarms as item>
                                    <tr>
                                        <td>${item.name}</td>
                                        <td>${item.namespace}</td>
                                        <td>${item.template}</td>
                                        <td>${item.metric}</td>
                                        <td>${item.threshold}</td>
                                        <td><a class="btn btn-danger btn-xs" href="#">delete</a></td>
                                    </tr>
                                </#list>
                            </#if>
                        </table>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer clearfix">

                        <ul class="pagination pagination-sm no-margin pull-right">
                            <#if pageNum??>
                                <#if (pageNum > 0) >
                                    <#list 1..pageNum as t>
                                        <li><a href="alarm_m.action?page=${t}">${t}</a></li>
                                    </#list>
                                </#if>
                            </#if>
                            <!--
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                            -->
                        </ul>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!-- Horizontal Form -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add Alarm<span style="font-size: 12px;">  *添加报警规则</span></h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form method="post" action="alarm_m.action" class="form-horizontal">

                        <div class="box-body">
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">名称</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="用户名">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="template" class="col-sm-2 control-label">模板名称</label>
                                <div class="col-sm-10">
                                    <select name="template" id="template" class="form-control">
                                        <#if templates??>
                                            <#list templates as item>
                                                <option value="${item.id}">${item.title}</option>
                                            </#list>
                                        </#if>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="namespace" class="col-sm-2 control-label">命名空间</label>
                                <div class="col-sm-10">
                                    <select name="namespace" id="namespace" class="form-control">
                                        <#if nameSpaces??>
                                            <#list nameSpaces as item>
                                                <option value="${item.id}">${item.name}</option>
                                            </#list>
                                        </#if>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="metric" class="col-sm-2 control-label">指标名</label>
                                <div class="col-sm-10">
                                    <select name="metric" id="metric" class="form-control">
                                        <#if metrics??>
                                            <#list metrics as item>
                                                <option value="${item.id}">${item.metricname}</option>
                                            </#list>
                                        </#if>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="complare" class="col-sm-2 control-label">指标名</label>
                                <div class="col-sm-10">
                                    <select name="complare" id="complare" class="form-control">
                                        <option value="1" selected>大于</option>
                                        <option value="2">小于</option>
                                        <option value="3">等于</option>
                                        <option value="4">大于等于</option>
                                        <option value="5">小于等于</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="threshold" class="col-sm-2 control-label">阀值</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="threshold" id="threshold" placeholder="密码">
                                </div>
                            </div>
                            <div id="params">
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="button" onclick="window.location.reload();" class="btn btn-default">取消</button>
                            <button type="submit" class="btn btn-info pull-right">保存</button>
                        </div>
                        <!-- /.box-footer -->
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>