<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Watch指标监控报警系统</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/ionicons.min.css">
    <link rel="stylesheet" href="/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/css/skins/skin-purple.min.css">
    <link rel="stylesheet" href="/css/admin.css">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easyui.min.1.2.2.js"></script>
    <script src="/js/admintle.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var _menus = {
            "menus": [
                {
                    "menuid": "1", "icon": "cogs", "menuname": "Watch系统",
                    "menus": [
                        {
                            "menuid": "13",
                            "menuname": "报警模板管理",
                            "icon": "book",
                            "url": "template_m.action"
                        },
                        {
                            "menuid": "14",
                            "menuname": "报警管理",
                            "icon": "bars",
                            "url": "alarm_m.action"
                        }, {
                            "menuid": "24",
                            "menuname": "联系人管理",
                            "icon": "bars",
                            "url": "contact_m.action"
                        }, {
                            "menuid": "25",
                            "menuname": "联系人组管理",
                            "icon": "bars",
                            "url": "contact_group_m.action"
                        }, {
                            "menuid": "15",
                            "menuname": "命名空间管理",
                            "icon": "cubes",
                            "url": "namespace_m.action"
                        },
                        {
                            "menuid": "16",
                            "menuname": "用户管理",
                            "icon": "cubes",
                            "url": "user_m.action"
                        },
                        {"menuid": "17", "menuname": "指标管理", "icon": "users", "url": "metric_m.action"},
                        {
                            "menuid": "18",
                            "menuname": "指标查询定义",
                            "icon": "unlock-alt",
                            "url": "metric_s.action"
                        }
                    ]
                }
            ]
        };
    </script>
    <script>
        $().ready(function () {
            //初始化菜单
            var mdata = _menus.menus;
            var mhtml = $("#sideMenu");

            for (var i = 0; i < mdata.length; i++) {
                var item = $('<li>' +
                        '<a href="#"><i class="fa fa-fw fa-' + mdata[i].icon + '"></i> <span>' + mdata[i].menuname + '</span> <i class="fa fa-angle-left pull-right"></i></a>' +
                        '</li>');

                var subul = $('<ul class="treeview-menu"></ul>');

                for (var j = 0; j < mdata[i].menus.length; j++) {
                    var subli = '<li><a href="#" onclick="addTab(\'' + mdata[i].menus[j].menuname + '\',\'' + mdata[i].menus[j].url + '\')"><i class="fa fa-fw fa-' + mdata[i].menus[j].icon + '"></i> ' + mdata[i].menus[j].menuname + '</a></li>';
                    subul.append(subli);
                }

                item.append(subul);
                mhtml.append(item);
            }


            //绑定退出登录事件
            $('#btnLogout').click(function () {
                showConfirmLogout();
            })

            //tab栏定位
            $(".tabs-header").css({"position": "fixed"});

        });

        //退出登录确认对话框
        function showConfirmLogout() {
            $('#modalConfirmMsg').text("您确定要退出本次登录吗？");
            $('#btnConfirmYes').click(function () {
                location.href = '/cms/loginout.html';
            });
            $('#modalConfirm').modal({
                keyboard: false,
                show: true
            });
        }

        //动态添加标签
        function addTab(title, url) {
            if ($('#mainTabs').tabs('exists', title)) {
                $('#mainTabs').tabs('select', title);
            } else {
                var ifameHeight = $("body").height() - 83;
                var content = '<iframe scrolling="auto" frameborder="0"  src="' + url + '" style="width:100%; height:' + ifameHeight + 'px;"></iframe>';
                $('#mainTabs').tabs('add', {
                    title: title,
                    content: content,
                    closable: true,
                    width: "100%"
                });
            }
        }

    </script>
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-purple sidebar-mini" style="overflow-y: hidden;">
<div class="wrapper" style="background:#ffffff;">

    <!-- Main Header -->
    <header class="main-header">

        <!-- Logo -->
        <a class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><img src="/images/logo_mini.png" alt="Watch指标监控报警系统"></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">Watch指标监控报警系统</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Navbar Right AbstractMenu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="logout.action" id="btnLogout"><i class="fa fa-power-off"></i> 退出</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar AbstractMenu -->
            <ul class="sidebar-menu" id="sideMenu">

            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="background:#ffffff;">
        <!--tab动态添加-->
        <div id="mainTabs" style="background:#ffffff;" class="maintabs easyui-tabs">
            <div class="box" title="控制台">

            </div>
        </div>
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div class="tab-pane active" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading">Recent Activity</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript::;">
                            <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                <p>Will be 23 on April 24th</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->

                <h3 class="control-sidebar-heading">Tasks Progress</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript::;">
                            <h4 class="control-sidebar-subheading">
                                Custom Template Design
                                <span class="label label-danger pull-right">70%</span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->

            </div>
            <!-- /.tab-pane -->
            <!-- Stats tab content -->
            <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
            <!-- /.tab-pane -->
            <!-- Settings tab content -->
            <div class="tab-pane" id="control-sidebar-settings-tab">
                <form method="post">
                    <h3 class="control-sidebar-heading">General Settings</h3>

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Report panel usage
                            <input type="checkbox" class="pull-right" checked>
                        </label>

                        <p>
                            Some information about this general settings option
                        </p>
                    </div>
                    <!-- /.form-group -->
                </form>
            </div>
            <!-- /.tab-pane -->
        </div>
    </aside>
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!--模态框-->
<div class="modal fade" id="modalConfirm">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">系统提示</h4>
            </div>
            <div class="modal-body">
                <p id="modalConfirmMsg">One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="btnConfirmYes" class="btn btn-primary">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>
</html>
